.text{
    width: 250px;
    height: 30px;
    margin-top: 40px;
}
.onclk{
    margin-top: 30px;
    height: 40px;
    width: 153px;
    /* margin-right: 99px; */
    background-color: purple;
}
.change
{
    background-color: gray;
    height: 500px;
    width: 600px;
    margin-top: 10px;
}
.head1{
    color:lime;
}
.head2{
    color: white;
}